.slider {
    width: 100%;
    position: relative;
  }
  
  .track {
    background-color: #e9ecef; /* Màu nền của track */
    height: 8px;
    border-radius: 4px;
  }
  
  .range {
    background: #007bff; /* Màu của khoảng giá đã chọn */
    height: 8px;
    border-radius: 4px;
  }
  
  .thumb {
    height: 24px;
    width: 24px;
    background: #007bff;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.2);
    cursor: pointer;
    position: absolute;
    top: -8px; /* Điều chỉnh để hình tròn nằm chính giữa */
  }
  
  .mark {
    background: #007bff;
    height: 6px;
    width: 2px;
    border-radius: 2px;
  }
  