.container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .intro-section {
    .owner-img {
      border-radius: 10px;
      max-width: 100%;
      height: auto;
    }
  
    .intro-title {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }
  
    .intro-description {
      font-size: 1.2rem;
      line-height: 1.6;
      text-align: justify;
    }
  }
  
  .hotel-section {
    .hotel-img {
      border-radius: 10px;
      max-width: 100%;
      height: auto;
    }
  
    .hotel-title {
      font-size: 2rem;
      font-weight: bold;
      margin-top: 1.5rem;
    }
  
    .hotel-description {
      font-size: 1.2rem;
      margin-top: 1rem;
      line-height: 1.6;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      text-align: justify;
    }
  }
  